
## Molecular state ambiguity

Please refer to the Supplementary Method S1

We computed 'molecular state ambiguity' by calculating the ratio of frustrated_edge

In [1]:
import os
import pandas as pd

from pyboolnet.file_exchange import bnet2primes, primes2bnet
from pyboolnet.interaction_graphs import primes2igraph

from modules.frustration import computeFusingT_updated

In [2]:
network_dir = './network/'
model_file = network_dir + 'toy_Network.bnet'
primes = bnet2primes(model_file)
nodeList = list(primes.keys())
graph = primes2igraph(primes)

In [3]:
save_dir = './result/' 
if save_dir.split('/')[1] not in os.listdir(): os.mkdir(save_dir)

In [4]:
allsingles = [{n:1} for n in nodeList] + [{n:0} for n in nodeList]
fix_dict = {'Input':0}
ctrl = {'Input':0}
computeFusingT_updated(allsingles, fix_dict, ctrl, primes, model_file, save_dir+'toyOFF_single')

In [6]:
frustration_in = pd.read_csv(save_dir+'toyOFF_single'+'_deltaF_normalized_in.csv', index_col = 0) # frustration in-influence
frustration_in.iloc[1:,1:] # perturbation X Node

,Input,Output1,Output2,n2,n3,n4,n5,n6,n7,n8,n9
"[('n2', 0)]",0.0,0.0,0.0000,0.00,0.00,0.000000,0.000000,0.0,0.00,0.000,0.000000
"[('n7', 0)]",0.0,0.0,0.0000,0.00,0.00,0.000000,0.000000,0.0,0.00,0.000,0.041667
"[('n5', 0)]",0.0,0.0,-0.2500,0.25,0.25,0.000000,-0.291667,0.0,0.25,0.250,0.041667
"[('Input', 0)]",0.0,0.0,0.0000,0.00,0.00,0.000000,0.000000,0.0,0.00,0.000,0.000000
"[('n9', 0)]",0.0,0.0,0.0000,0.00,0.00,0.000000,0.000000,0.0,-0.25,-0.250,0.041667
"[('n6', 0)]",0.0,0.0,-0.2500,0.25,0.25,0.000000,-0.291667,0.0,0.25,0.250,0.041667
"[('Output1', 0)]",0.0,0.5,0.0000,0.00,0.00,0.000000,0.000000,0.0,0.00,0.000,0.000000
"[('Output2', 0)]",0.0,0.0,0.3125,0.00,0.00,0.000000,0.000000,0.0,0.00,0.000,0.000000
"[('n2', 1)]",0.0,0.0,0.0000,0.25,0.00,0.000000,0.041667,0.0,0.25,0.250,-0.125000
"[('n7', 1)]",0.0,0.0,0.0000,0.00,0.00,0.000000,0.000000,0.0,0.50,0.000,-0.041667
"[('n3', 1)]",0.0,0.0,-0.2500,-0.25,-0.25,-0.166667,-0.291667,0.0,0.00,0.000,0.041667
"[('n5', 1)]",0.0,0.0,-0.2500,-0.25,-0.25,-0.166667,-0.291667,0.0,0.00,0.000,0.041667
"[('Input', 1)]",0.0,0.0,0.0000,-0.25,0.00,-0.333333,0.041667,0.0,-0.25,-0.250,-0.125000
"[('n6', 1)]",0.0,0.0,-0.2500,-0.25,-0.25,-0.166667,-0.291667,0.0,0.00,0.000,0.041667
"[('n8', 1)]",0.0,0.0,0.0000,0.00,0.00,0.000000,0.000000,0.0,0.25,0.375,-0.041667
"[('Output2', 1)]",0.0,0.0,0.1875,0.00,0.00,0.000000,0.000000,0.0,0.00,0.000,0.000000
"[('Output1', 1)]",0.0,0.5,0.0000,0.00,0.00,0.000000,0.000000,0.0,0.00,0.000,0.000000
"[('n4', 1)]",0.0,0.0,0.0000,0.25,0.00,0.333333,0.041667,0.0,0.00,0.000,0.000000
"[('n4', 0)]",0.0,0.0,0.0000,-0.25,0.00,0.000000,-0.041667,0.0,0.00,0.000,0.000000
"[('n3', 0)]",0.0,0.0,0.0000,0.25,0.50,0.000000,0.041667,0.0,0.25,0.250,-0.125000
"[('n9', 1)]",0.0,0.0,0.0000,0.00,0.00,0.000000,0.000000,0.0,0.25,0.250,0.041667
"[('n8', 0)]",0.0,0.0,0.0000,0.00,0.00,0.000000,0.000000,0.0,-0.25,0.000,0.041667

In [8]:
frustration_out = pd.read_csv(save_dir+'toyOFF_single'+'_deltaF_normalized_out.csv', index_col = 0) # frustration in-influence
frustration_out.iloc[1:,1:] # perturbation X Node

,Input,Output1,Output2,n2,n3,n4,n5,n6,n7,n8,n9
"[('n2', 0)]",0.0,NaN,NaN,0.0,0.00000,0.000000,0.0000,0.000000,0.000,0.00,0.00
"[('n7', 0)]",-0.1,NaN,NaN,0.0,-0.03125,0.000000,0.0000,0.041667,0.125,0.25,0.00
"[('n5', 0)]",0.3,NaN,NaN,0.5,-0.18750,0.041667,-0.1250,0.166667,-0.375,-0.25,0.00
"[('Input', 0)]",0.0,NaN,NaN,0.0,0.00000,0.000000,0.0000,0.000000,0.000,0.00,0.00
"[('n9', 0)]",-0.2,NaN,NaN,0.0,0.09375,0.000000,0.0000,0.041667,-0.375,0.00,0.00
"[('n6', 0)]",0.3,NaN,NaN,0.5,-0.18750,0.041667,-0.1250,0.166667,-0.375,-0.25,0.00
"[('Output1', 0)]",0.0,NaN,NaN,0.0,0.00000,0.166667,0.0000,0.000000,0.000,0.00,0.00
"[('Output2', 0)]",0.0,NaN,NaN,0.0,0.06250,0.000000,0.1875,0.000000,0.000,0.00,0.00
"[('n2', 1)]",0.5,NaN,NaN,-0.5,-0.06250,-0.125000,0.1250,0.166667,-0.375,-0.25,0.00
"[('n7', 1)]",0.1,NaN,NaN,0.0,0.03125,0.000000,0.0000,-0.041667,-0.125,0.25,0.00
"[('n3', 1)]",-0.1,NaN,NaN,-0.5,-0.06250,-0.291667,-0.1250,0.000000,-0.375,0.00,0.00
"[('n5', 1)]",-0.1,NaN,NaN,-0.5,-0.06250,-0.291667,-0.1250,0.000000,-0.375,0.00,0.00
"[('Input', 1)]",-0.3,NaN,NaN,-0.5,-0.06250,-0.125000,0.1250,0.166667,-0.375,-0.25,0.00
"[('n6', 1)]",-0.1,NaN,NaN,-0.5,-0.06250,-0.291667,-0.1250,0.000000,-0.375,0.00,0.00
"[('n8', 1)]",0.2,NaN,NaN,0.0,0.03125,0.000000,0.0000,-0.041667,-0.125,0.00,0.25
"[('Output2', 1)]",0.0,NaN,NaN,0.0,0.06250,0.000000,0.0625,0.000000,0.000,0.00,0.00
"[('Output1', 1)]",0.0,NaN,NaN,0.0,0.00000,0.166667,0.0000,0.000000,0.000,0.00,0.00
"[('n4', 1)]",0.1,NaN,NaN,0.0,0.15625,0.208333,0.0000,-0.041667,0.000,0.00,0.00
"[('n4', 0)]",-0.1,NaN,NaN,0.0,0.09375,-0.208333,0.0000,0.041667,0.000,0.00,0.00
"[('n3', 0)]",0.3,NaN,NaN,0.5,-0.06250,0.208333,0.1250,0.166667,-0.375,-0.25,0.00
"[('n9', 1)]",0.2,NaN,NaN,0.0,0.09375,0.000000,0.0000,0.041667,-0.375,0.00,0.00
"[('n8', 0)]",-0.2,NaN,NaN,0.0,-0.03125,0.000000,0.0000,0.041667,0.125,0.00,0.50